
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E3DCD2 ;
  color: #013328;
}

/* Navbar */
.navbar {
  background-color: #a72525;
  overflow: hidden;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around; /* Adjust space around items */
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background: #E3DCD2 ;
  color: black;
}

@media (max-width: 900px) {
  .container {
      padding: 15px;
  }

  form input, form button {
      padding: 10px;
  }

  #map {
      height: 350px;
  }
}


section#contact {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
  margin: 50px auto;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#contact h2 {
  color: #a72525;
  font-size: 2rem;
  margin-bottom: 20px;
}

section#contact p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
}

#contact-form label {
  display: block;
  text-align:center;
  margin-bottom: 10px;
  color:#a72525
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 15px;
}

#contact-form textarea {
  resize: vertical;
}

#contact-form button {
  background-color: #a72525;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

#contact-form button:hover {
  background-color:#E3DCD2;
  color: black;
  font-weight: bold;
}



/* Footer */
footer {
  background-color:#a72525;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
}


footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* Stilizimi për seksionin e orarit të punës */
.working-hours {
  background-color:#E3DCD2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.working-hours p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  text-align: center;
  color:#a72525
}

.working-hours p:first-child {
  font-weight: bold;
  font-size: 29px;
  margin-top: 22px;
  margin-bottom: 10px;
}
/* Contact form FAQ section */
#contact-form-faq {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

#contact-form-faq .faq-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-form-faq .faq-content li{
  color: #a72525;
  margin-bottom: 12px;
  margin-left: 25px;
}
#contact-form-faq ul {
  list-style-type: none;
  padding: 0;
  flex: 1;
}

#contact-form-faq h3 {
  margin-top: 0;
  color: #333;
}

#contact-form-faq .text {
  color: #666;
  line-height: 1.6;
}

#contact-form-faq .image {
  margin-left: 20px;
  flex-shrink: 0;
}

#contact-form-faq .image img {
  max-width: 400px;
  height: 300px;
  border-radius: 8px;
}



.moving-heading{
  display: inline-block;
  font-size: 27px;
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

/* Container to center the form */
.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4; /* Background color for the page */
}

/* Contact form section */
#contact-form-section {
  background-color: #fff;
  padding: 20px;
  width: 700px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

#contact-form-section h2 {
  color:#FFD800;
  margin-top: 10px;
}

#contact-form-faq h3 {
  color: #FFD800;
  margin-left: 22px;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

#contact-form label {
  margin-top: 10px;
  color: #a72525;
}

#contact-form input,
#contact-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contact-form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #a72525;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact-form button:hover {
  background-color: #E3DCD2;
  color: black;
  font-weight: bold;
}
